:root{
    --color-primary: 243 143 83;
    --primary: #F19050;
    --color-dark: #363A41;
}
html body{
    color: var(--color-dark);
}
.justify-around{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}
.flex-column{
  flex-direction: column;
}
.flex-column-reverse{
  flex-direction: column-reverse;
}
.col-span-8 {
  grid-column: span 8/span 8;
}
.top-bar-boxed:before{
    background-color: #F5F5F5;
}
.top-bar-boxed:after, .login:after{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/forest_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.side-nav > ul > li > .side-menu.side-menu--active .side-menu__icon,
.side-nav > ul > li > .side-menu.side-menu--active .side-menu__title{
    color: var(--color-dark);
}
.notification.notification--bullet:before{
    background-color: var(--primary);
}
.icon{
    color: #F5F5F5;
}
#icon-view{
    margin-left: 25px;
}
#shadow-banner{
    background: linear-gradient(180deg, #2A5D57 0%, rgba(217, 217, 217, 0) 100%);
}
#save-banner{
    margin-top: 40px;
    /* margin-right: 30px; */
}

/* Modal css */
#myModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* display: none; */
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal__content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
    /* border-radius: 2px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  /* Checkbox colors */
  [type='checkbox']:checked{
    background-color: #2A5D57;
  }

  /* Options Role Buttons */
  #optionsrolefull{
    background-color: #2A5D57;
  }
  #optionsrolenone{
    background-color: #CECFD1;
  }
  #optionsrolecustom{
    background-color: #F38F53;
  }

  /* Full Access text color */
  #fullAccess{
    color: #7D7D7D !important;
  }
  [type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus{
    border-color: var(--primary);
    box-shadow: none;
  }
  .z-\[1065\]{
    z-index: 10065;
  }
  .timepicker div.group div.border{
    border: none;
  }
  .bg-\[\#3b71ca\]{
    background-color: #2A5D57;
  }
  .hover\:text-\[\#3b71ca\]:hover{
    color: #2A5D57;
  }
  .form-control[readonly], select.form-control{
    cursor: pointer;
    background-color: #ffffff;
  }